.cadastro{
  display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.img_avatares{
  margin-top: 20px;
  margin-bottom: 25px;
}
.frase{
  font-family: 'Arvo', serif;
  font-size: larger;
  font-size: 23px;
}

.botao_enviar{
  display: flex;
  align-items: center;
  flex-direction: column;
}

::ng-deep .mat-form-field-infix {
  border-top: none;

}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px 0 5px 0;
}
